<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/ionicons@4.5.0/dist/ionicons.js"></script>
    <link rel="stylesheet" href="/css/icon-font.css">
    <link rel="stylesheet" type="text/css" href="/vendors/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title><%= title %></title>
</head>
<body>
<header>
    <img src="resources/imgs/logo/settlers-of-catan-logo.png" alt="Bryant Logo" title="Bryant Logo">
    <h1>Bryant Cabrera</h1>
    <ul>
        <li><a href="/users" alt="Users Link" title="Users Link">Users</a></li>
        <li><a href="/photos" alt="Photos Link" title="Photos Link">Photos</a></li>
        <li><a href="#contact" alt="Contact Link" title="Contact Link">Contact</a></li>
    </ul>
</header>