<%- include('../partials/header', { 
    title: 'New Photos Page'
}); %>

    <main>
        <h1>New Photos Page</h1>
        
        <form action="/photos" method="POST">
            Title: <input type="text" name="title"><br>
            User: <input type="text" name="user"><br>
            URL: <input type="text" name="url"><br>
            <button type="submit">Create New Photo</button>
        </form>
    </main>

<%- include('../partials/footer') %>