<%- include('../partials/header', { 
    title: 'New Photos Page'
}); %>

    <main>
        <h1>New Photos Page</h1>
        
        <form action="/photos" method="POST">
            
            User: <select name="userId">
                    <% for (let i = 0; i < users.length; i++) { %>
                    <option value="<%= users[i]._id %>"><%= users[i].name %></option>
        
                    <% } %>
                </select><br>
            URL: <input type="text" name="url"><br>
            Title: <input type="text" name="title" maxlength="10"><br>
            Description: <input type="text" name="description"><br>
            <button type="submit">Create New Photo</button>
        </form>
    </main>

<%- include('../partials/footer') %>