<%- include('./partials/header', { 
    title: 'Photos Index Page'
}); %>

    <main>
        <h1>App Index Page</h1>
        <a href="/users" class="btn">Users</a><br>
        <a href="/photos" class="btn">Photos</a>
    </main>

<%- include('./partials/footer') %>